/* 480px-320px */
@media(max-width:481px) {

    /* header  */
    header {
        padding-inline: 20px;
    }



    .nav_button_section {
        gap: 16px;
    }


    /* section first */
    .first_section {
        padding-inline: 0px;

    }

    .first_section_text_new {
        font-size: 24px;
        line-height: 32px;
    }

    .first_section_text_collection {
        font-size: 24px;
        line-height: 32px;

    }


    /* section 2  */
    .section2_caption {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 64px;
    }

    /* footer  */
    footer {
        padding: 10px 10px;
    }



    /* page 2  */
    /* catalog  */

    .main_catalog_section {
        padding-inline: 20px;
        flex-direction: column;


    }

    .filter_text {
        display: none;
    }

    .v_image {
        margin: 0px;
    }

    .toolbar {
        padding-inline: 0px;
    }

    .bestselling {
        width: 36px;
        height: 32px;
        padding: 4px 6px;
        border-radius: 4px;


    }

    .fa-arrow-down {
        margin-left: 0px;
    }

    .span_bestselling {
        display: none;
    }

    .button_arrow_text_left,
    .button_arrow_text_right {
        display: none;
    }

    .button_arrow_left,
    .button_arrow_right {
        width: 52px;
        height: 40px;
        padding: 8px 14px;
        border-radius: 8px;


    }
    /* form  */
    .container_form {
        padding: 32px 20px;
    }

    .main_section {
        padding: 16px;
    }

    .text_email_section {
        flex-direction: column;
        row-gap: 36px;
    }
     
    .button_section_mapside_top {
        row-gap: 36px;
    }
    .map {
        height: 200px;
    }
    .button_section_mapside_top {
        row-gap: 38px;
    }




    /* mobail responsive  */
    @media(max-width:322px) {
        header {
            padding-inline: 8px;
        }




        /* page 2 
        catalog  */
        .main_catalog_section {
            padding-inline: 8px;



        }





        /* footer  */
        footer {
            padding-inline: 73px;
        }

    }
}